
body{
    background-color: #d9d1d0;
    box-sizing: content-box;
}

header{
    background-color: #E2DCDC;
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: objektiv-mk2, sans-serif;
    color: #096E6D;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: center;
    border-radius: 50%;
    position: sticky;
}

header > img{
    height:auto;
    width: 320px;
}

header > nav{
    align-self: center;
    font-size: large;
    font-weight: 400;
    display: flex;
}

header > nav > a{
    padding: 2px;
    text-decoration: none;
    color: #096E6D;
}

#login-buttpn{
    background-color: #E2DCDC;
    border: none;
    color: #096E6D;
    font-size: large;
    font-weight: 400;
    font-family: objektiv-mk2, sans-serif;
}

#slideshow {
    overflow: hidden;
    margin-top: 8px;
}

.slide-wrapper {
width: 2912px;
-webkit-animation: slide 25s ease infinite;
flex-wrap: nowrap;
}

.slide {
float: left;
}
 
.slide > img{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

@-webkit-keyframes slide {
17.5% {margin-left: 25%;}
35% {margin-left: 0%;}
52.5% {margin-left: -25%;}
70% {margin-left: -50%;}
87.5% {margin-left: -75%;}
}

#intro{
    font-family: objektiv-mk2, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#443140;
    align-self: center;
    padding-left: 80px;
    padding-right: 80px;
}

#intro > h2{
    border-style: solid;
    text-align: center ;
    padding: 5px;
    border-width: 2px;
    border-color: #096E6D;
    background-color: #E2DCDC;
}

#intro > h2 > a{
    text-decoration: none;
    color: #443140;
}


.steps{
    display: flex;
    flex-flow: row wrap;
    font-size: large;
    justify-content: space-between;
}

.steps > #step-home{
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: #096E6D;
    padding: 12px;
    width: 29%;
    height: 341.333px;
    font-size: 14pt;
    background-color: #E2DCDC;
    overflow: scroll;
    font-size: 12pt;
    font-weight: 400;
    /* justify-content: space-between; */
}

.steps > #step{
    display: flex;
    flex-wrap: unset;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: #096E6D;
    width: 30%;
    height: 355px;
    font-size: 14pt;
    background-color: #E2DCDC;
    overflow: scroll;
    margin: 7px;
    /* justify-content: space-between; */
}

.steps > #step > p{
    font-size: 10pt;
    font-weight: 400;
}

.steps > #step-home > #one{
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
}

.steps > #step-home > #three{
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
}

.steps > #step-home > #five{
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
}

.steps > #step > h3{
    background-color: #443140;
    width: 100%;
    margin: 0;
    justify-self: start;
    color: #E2DCDC;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.steps > #step > #status{
    padding-left: 5pt;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    margin-top: 2px;
    align-self: center;
    text-align: center;
}


.steps > #step > #task-list{
    font-size: 9pt;
    font-weight: 400;
    list-style: none;
    margin: 4px;
}

.steps > #step > #button-card{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.steps > #step > #button-card > button{
    font-family: objektiv-mk2, sans-serif;
    color: #E2DCDC;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 10pt;
    font-weight: 900;
    width: 37%;
}

.steps > #step > #delete-button{
    align-self: right;
}

#form-card{
    background-color: #443140;
    z-index: 1;
    margin-top: -80%;
    width: 80%;
    padding: 20px;
    border: 2px solid #E2DCDC;
    border-style: outset;
    color: #E2DCDC;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

#form-card > span{
    font-size: 6pt;
    font-weight: 200;
    border: solid 2px;
    background-color: #E2DCDC;
    color: #443140;
    padding: 1px;
    border-style: outset;
    margin-top: 4px;
    align-self: flex-end;
    width: fit-content;
}

#form-card > form{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 2px;
}

#form-card > form > input{
    margin: 2px;
    background-color: rgb(236, 231, 231);
    color: #443140;
    width:100%;
    margin-bottom: 6px;
}
#form-card > form > #submit{
    font-size: 8pt;
    font-weight: 400;
    border: solid 2px;
    background-color: #E2DCDC;
    color: #443140;
    padding: 2px;
    border-style: outset;
    width: fit-content;
    justify-self: right;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    font-size: xx-small;
    margin-left: 2%;
    background-color: #443140;
    color: #E2DCDC;
}

/* #login-form{
    display: flex;
    flex-direction: row;
} */

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

*, *:before, *:after {
    box-sizing: border-box;
}
div {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.w3-modal-content {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 100%;
    align-content: center;
    justify-content: center;
}

#login-form{
    display: flex;
    margin: 1%;
    padding: 2px;
    width: fit-content%;
    font-family: objektiv-mk2, sans-serif;
}

#login-form > label{
    margin-right: 2.5px;
    margin-left: 2.5px;
}

#login-form > input{
    background-color: rgb(243, 243, 243);
}

.w3-container-w3-teal{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#fake-button{
    margin: 1%;
    width: fit-content;
    font-size: 10pt;
    font-weight: 400;
    border: solid 2px;
    background-color: #443140;
    color: #E2DCDC;
    padding: 2px;
    border-style: outset;
    align-self: flex-end;
    border-radius: 1px;
    padding: 2px;
}

a{
    text-decoration: none;
    color: #E2DCDC;
    padding: 5px;
}

#signup{
    color: #E2DCDC;
    text-align: center;
    border: outset 2px;
    width: 50%;
    align-self: center;
    border-color: #443140;
    background-color: #443140;
    margin-bottom: 5px;
    font-size: small;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #096E6D;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #E2DCDC;
    border-radius: 50%;
    align-items: center;
}

#footer{
    text-decoration: none;
    color: #096E6D;
    font-family: objektiv-mk2, sans-serif;
}