
body{
    background-color: #d9d1d0;
}

header{
    background-color: #E2DCDC;
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: objektiv-mk2, sans-serif;
    color: #096E6D;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-radius: 50%;
    position: sticky;
}

header > img{
    height:70px;
    width: 280px;
}

header > nav{
    align-self: center;
    font-size: large;
    font-weight: 400;
    display: flex;
}

header > nav > a{
    padding: 2px;
    text-decoration: none;
    color: #096E6D;
}

#slideshow {
    overflow: hidden;
    margin-top: 8px;
}

.slide-wrapper {
width: 2912px;
-webkit-animation: slide 25s ease infinite;
}

.slide {
float: left;
}
 
.slide > img{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

@-webkit-keyframes slide {
17.5% {margin-left: 25%;}
35% {margin-left: 0%;}
52.5% {margin-left: -25%;}
70% {margin-left: -50%;}
87.5% {margin-left: -75%;}
}

#intro{
    font-family: objektiv-mk2, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color:#443140;
    align-self: center;
    padding-left: 80px;
    padding-right: 80px;
}

#intro > h2{
    border-style: solid;
    text-align: center ;
    padding: 5px;
    border-width: 2px;
    border-color: #096E6D;
    background-color: #E2DCDC;
}

#intro > h2 > a{
    text-decoration: none;
    color: #443140;
}


.steps{
    display: flex;
    flex-flow: row wrap;
    font-size: large;
    justify-content: space-between;
}

.steps > #step{
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: #096E6D;
    padding: 12px;
    width: 29%;
    height: 341.333px;
    font-size: 14pt;
    background-color: #E2DCDC;
    overflow: scroll;
    /* justify-content: space-between; */
}

.steps > #step > p{
    font-size: 10pt;
    font-weight: 400;
}

.steps > #step > #one{
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
}

.steps > #step > #three{
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
}

.steps > #step > #five{
    width: 100%;
    height: auto;
    align-self: center;
    overflow: hidden;
}

.steps > #step{
    display: flex;
    flex-direction: column;
}

.steps > #step > #task-list{
    font-size: 9pt;
    font-weight: 400;
    list-style: none;
    margin: 5px;
}

.steps > #step > button{
    font-family: objektiv-mk2, sans-serif;
    color: #E2DCDC;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 10pt;
    font-weight: 900;
    width: fit-content;}

.steps > #step > #delete-button{
    align-self: right;
}

#form-card{
    background-color: #443140;
    z-index: 1;
    margin-top: -75%;
    width: 60%;
    padding: 20px;
    border: 2px solid #E2DCDC;
    border-style: outset;
    color: #E2DCDC;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

#form-card > span{
    font-size: 6pt;
    font-weight: 200;
    border: solid 2px;
    background-color: #E2DCDC;
    color: #443140;
    padding: 1px;
    border-style: outset;
    margin-top: 4px;
    margin-left: 100%;
    margin-right: 27px;
    align-self: center;
}

#form-card > form{
    display: flex;
    flex-flow: column wrap;
}

#form-card > form > input{
    margin: 2px;
    background-color: rgb(236, 231, 231);
    color: #443140;
}
#form-card > form > #submit{
    margin-right: 70%;
    font-size: 8pt;
    font-weight: 400;
    border: solid 2px;
    background-color: #E2DCDC;
    color: #443140;
    padding: 2px;
    border-style: outset;
}
p{
    display: flex;
    flex-direction: row;
    text-align: left;
}

button{
    font-size: xx-small;
    margin-left: 2%;
    background-color: #443140;
    color: #E2DCDC;
}